body {
  margin: 20px;
  height: 100vh;
}

header {
  background-color: #71A9F7;
  height: 50px;
  font-size: 30px;
  padding: 14px;
  margin: -20px -20px 15px -20px;
}

input {
  display: none;
}

a.button {
  color: black;
}

div.buttons-container {
  display: flex;
}

div.button-container {
  margin: 10px;
}

a.link {
  height: 15px;
  margin: 15px;
}

#markdown-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  /* overflow: auto; */
  position: absolute;
}

#markdown-container > #markdown-area {
  position: relative;
  height: 100%;
  grid-column: 1;
  grid-row: 2;
}

#markdown-container > #marked-content {
  position: relative;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
}

#markdown-container > #marked-content > blockquote {
  margin: 0;
  padding: 10px;
  background-color: #e3e3e3;
}

#markdown-container > #marked-content > pre > code {
  margin: 0;
  padding: 10px;
  display: block;
  background-color: #e3e3e3;
}

#markdown-container > #marked-content > p > code {
  margin: 0;
  padding: 3px;
  background-color: #e3e3e3;
  border-radius: 3px;
}

#markdown-container > #markdown-area-description {
  /* height: 30px; */
  /* margin: 15px; */
  grid-column: 1;
  grid-row: 1;
}

#markdown-container > #marked-content-description {
  /* height: 20px; */
  /* margin: 15px; */
  grid-column: 2;
  grid-row: 1;
}
